@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow-x: hidden;
}
main{
    background-color: white;
    margin: auto;
    min-width: 320px;
    max-width:800px;
    padding: 20px;

}
p{
    font-size: 20px;
    text-align: justify;
    color: #585c5f;
    padding: 20px;
    
    
}
span{
    color:#bdc3c7;
    margin-left: 50px;
}
picture img{
    margin: auto;
    display: block;
}

hr{
    margin-top: 25px;

}
.moedas{
    max-width: 95%;
}
.energia{
    padding-top: 1px;
    color: #ffaf40;
    
}
color{
    color:#585c5f;
}

small{
    margin-left: 19px;
}

.carol{
    margin-left: 50px;
}
.geladeira{
    height: 15%;
    max-width: 95%;
}
ol{
    list-style-position:inside;
    
}
.lista{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bolder;

}
footer{
    color: white;
    background-color:#4b4b4b;
    padding: 40px;
    
}